extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/mult") Multiply
    .navlink
      a(href="/modular") Modular
  section#makeDomo
    form#domoForm(class="domoForm", name="domoForm", action="/add", method="POST")
      label(for="valA") ValA: 
      input#valA(type="text", name="valA", placeholder="0")
      label(for="valB") ValB: 
      input#valB(type="text", name="valB", placeholder="0")
      a#makeDomoSubmit(class="makeDomoSubmit", href="#") Get Result
  section#funcs 
    h1 Recent Functions
    if !funcs || funcs.length == 0
      div.domo 
        h3.emptyDomo No Functions yet
    else
      each val in funcs
        div.domo
          //img(class="domoFace", src="/assets/img/domoFace.jpeg", alt="domo face")
          h3.domoName #{val.name}
          h3.domoAge Result: #{val.result}
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/maker.js")